* {
  margin: 0;
  transition: .4s;
  user-select: none;
  font-family: monospace;
  overflow: hidden;
}
.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  background: rgb(255,217,255);
  background: linear-gradient(55deg, rgba(255,217,255,1) 0%, rgba(255,255,217,1) 25%, rgba(205,247,255,1) 100%);
  transform: translate(-50%, -50%);
}

.text {margin-top: 4px; margin-left: 8px;}
.text__props {color: pink;}
.text__syntax {color: lightblue;}
.text__object {color: whitesmoke;}
.text__str {color: lightgreen;}
.text__int {color: orange;}
.text__link {color: lightgreen; cursor: pointer;}
.text__link:hover {color: white; text-decoration: underline; text-decoration-color: magenta;}

.__up {
  top: 10%;
}
.__mid_y {
  top: 50%;
}
.__down {
  top: 90%;
}
.__mid {
  top: 50%;
  left: 50%;
}
.__left {
  left: 30%;
}
.__mid_x {
  left: 50%;
}
.__right {
  left: 70%;
}

.__clickable {
  opacity: 1;
  cursor: pointer;
}
.__clickable:hover {
  border: 5px solid magenta;
}
.__hidden {
  opacity: 0;
  cursor: default;
  user-select: none;
  pointer-events: none;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
}

.content {
  width: 300px;
  height: 300px;
}
.content__home {
  box-shadow: 0 0 20px darkgray;
  background-color: gray;
}
.content__examples {
  width: 100vw;
  height: 100vh;
}
.content__example {
  box-shadow: 0 0 20px darkgray;
  background-color: gray;
}

.button {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
}
.button__home {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
}
.button__examples {
  border: 2px solid gray;
  width: 50px;
  height: 50px;
}
.button__close {
  border: 2px solid red;
  width: 50px;
  height: 50px;
}
.button__close:hover {
  border: 5px solid black;
}

.example-card {
  width: 300px;
  height: 300px;
  border: 2px solid gray;
}
.example-card__on {
  width: 100px;
  height: 100px;
}
.example-card__on:hover {
  border: 5px solid magenta;
}
.example-card__off {
  left: 50%;
}
